# Node build artifacts
node_modules
npm-debug.log
junit/*
package-lock.json
yarn-error.log

# NextJS
frontend/.next

# Local development
*.env
*.dev
.DS_Store
.node_version

# Docker
Dockerfile
docker-compose.yml

# Keystore
keystore/*
!keystore/.keep
