# Node build artifacts
node_modules
*.log
junit/*
junit.xml
package-lock.json
reports/

# NextJS
frontend/.next

# Local development
*.env
*.dev
.DS_Store
.node_version

# Docker
Dockerfile
docker-compose.yml

# Keystore
keystore/*
!keystore/.keep
