# Node build artifacts
node_modules
npm-debug.log
junit/*

# NextJS
frontend/.next

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Keystore
keystore/*
!keystore/.keep
